  @import 'colors.scss';


.modal-container{
    padding: 20px;
}
  .createButton {
    text-align: center;
    .createNewButton {
    position: relative;

      font-size: 14px;
      padding: 9px 15px;
      background-color: $blue-main;
      border: none;
      color: $white;
      border-radius: 4px;
    }
  }
  .sensor-data{
    padding: 5px;
    font-size: 14px;
  }

  ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {

    stroke: $blue-main
}

.loading-spinner {
  position: absolute;
  top: -4px;
  left: 32%;
  opacity: 0.6;
}


.header-action-btns {
  width: 10%;
  padding: 9px 15px 9px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.15000000596046448px;
}

.next-btn {
    width: 80px;
  position: relative;
  margin-right: 22px;
  padding-right: 10px;
  background-color: $radio-button-checked;
  border-color: $radio-button-checked;
}

.next-btn:disabled {
  background-color: #e0e0e0;
  // border-color: #9E9E9E
}
