<div class="modal-container" >

<div class="createButton">
    <button
    id="nextBtn"
    mat-raised-button
    type="button"
    [disabled]="isLoading"
    color="primary"
    class="header-action-btns next-btn"
    (click)="onSimulateBtn()"
   
  >
  <mat-progress-spinner
  *ngIf="isLoading"
  mode="indeterminate"
  class="loading-spinner"
  diameter="20"
></mat-progress-spinner>

    Simulate
  </button>
  </div>
  <!-- "parameter": "CH4 Emission level",
  "value": value,
  "assetId": "79d12",
  "longerTime": duration * 1000 -->


  <p class="sensor-data" *ngFor="let item of recordsInserted; let i=index" >
    {{i + 1}} - {{item.parameter }} {{item.value}} 

    
  </p>

</div>
